<span style="font-family: Arial; font-weight:bold;font-size:1.5em;">Problem Statement

Employee Attrition has always been a crucial concern for a company. Attrition means a loss to the company in terms of cost invested in training an employee. There are a few companies which were forced to close due to high level of attrition. To minimize attrition several companies tries to analyze and understand several factors which migh lead to an employee to leave the company. 
The IBM HR Attrition Case Study is a dataset which aims to identify important factors that might be influential in determining an employee who might leave the company. You are hired by the company and your objective is to undestand the data and to identify the patterns in the data which will help HR team to take decisive actions to reduce the attrition rate.

There are two given dataset, Company_Data.csv contains information of an employee related to the company and Personal_Data cotains personal information of an employee.

## Data Dictionary

1. EmpId-              Employee ID
2. AGE-                Employee Age
3. EducationField-     Field of Education
4. Gender        -     Employee Gender
5. MaritalStatus -     Employee Marital Status
6. DistanceFromHome-   Distance from home to work (in miles)
7. BusinessTravel-     Frequency of business travel
8. Department-         Department of the employee 
9. HourlyRate-         Hourly rate of an employee
10. JobLevel-          Job Level of the employee. Higher job level means senior post
11. JobRole-           Job Role of an employee
12. JobSatisfaction-   Job Satisfaction level of  an employee
13. MonthlyRate-       Montly rate of an employee
14. NumCompaniesWorked-How many companies has the employee worked before
15. OverTime-          Does the employee gets overtime
16. PercentSalaryHike- Average percentage take for the employee
17. TotalWorkingYears- Total Years of Experience of an employee
18. WorkLifeBalance-   Work life balance of an employee (4 means highly satisfied)
19. YearsAtCompany-    Years employee have worked in current company
20. YearsInCurrentRole-Years employee have worked in current role
21. TotalWorkingYears- Total Years of Experience of an employee
22. YearsSinceLastPromotion-   Number of years since last promotion
23. YearsWithCurrManager- Number of years with current manager
24. Attrition-         Employee has left the company or not

### Change your Working Directory

### Q1. Import all the necessary libraries (Numpy and Pandas)

### Q2. Import both csv files (and name Company_Data as "company" and Personal_Data as "personal" )

Load the Data file into Python DataFrame using pandas read_csv method

### Q3.  View Top 10 rows of both the datasets

Hint:Head function is used to view the top records. The number of records to be viewed, needs to be  given in the parenthesis. Default value is 5.

### Q4. Merge both datasets and name the merged dataset as df

Hint:Merge the datasets using pd.merge() command- Use how="outer" and on="EmpID"

 ### Q5. View Last 5 records of combined dataframe "df".

Hint:Tail function is used to view the last records. The number of records to be viewed, needs to be given in the parenthesis.Default value is 5.

### Q6. Display the shape/dimensions of dataset.

Displaying the shape of the Data Frame in which first value gives number of Rows and second value gives number of columns.

Hint: Use "shape" function

### Q7. Check for missing values. Display number of null values per column.

Hint: use isnull() function

There are missing values present in the "Joblevel" and "WorklifeBalance" variables of the dataset.

### Q8.  Drop null values from "df" and check if there are any missing value left after dropping null values

### Q9. Check the datatype, number of non negative values and name of each variable in the dataset.

Hint : Use info() function

### Q10. Check the summary of the dataset
Hint: To see the summary of a dataframe we will use describe function.

### Q11. Drop  the variable EmpID from the dataframe df.
To drop any variable, use drop() function.

### Q12. Check how many employees left the company from the given dataset
Hint :Use value_counts() function

### Q13. Create a subset "df_new" from the dataset "df" which contain data of all the employees who have attrited. Also check the shape of the new dataset

### Q14. Create the top 5 rows and first 5 columns in a matrix format. Use 

---

dataframe "df"

Hint- use iloc function

### Q15.  Analyze the mean for all the variables for employees who have attrited and whose who have not.

Hint: Use groupby() function

### Q16. Check the details of 5 employees who have spent maximum years in the company

### Q17.  Find out the minimum "Percentage Salary Hike" the company has offered?

### Q18. What is the maximum Total Working Years of an employee?

### Q19. What percentage of employees stay in the company given they have spend more than 7 years with the current manager?

### Q20.  What percentage of employees lives >10 miles from the company?

### Q21. Create a copy of the dataset , remove the "Attrition" variable from the new dataset and check the shape of the dataset

# END